@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
body{
  cursor: url('icons8-select-cursor-24.png'), auto;
}
/* vid */
.video-background video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.content {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    padding-top: 200px;
    font-family: Arial, sans-serif;
}

h1{
  opacity: 0;
  animation: fadeMove 3.5s ease-out forwards;
  animation-delay: 2s;
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: #ffffff;
  text-shadow: 0 0 8px rgba(255,255,255,0.7);

}

@keyframes fadeMove {
  0% { transform: scale(0.5); opacity: 0;}
  60% { transform: scale(2); }
  100% { transform: scale(1.8); opacity: 1;}
}

p {
   position: relative;
   left: 50%;
   transform: translateX(-50%);
   opacity: 0;
   font-family: "Orbitron", sans-serif;
   font-weight: 300;
   font-size: 2rem;
   white-space: nowrap;
   overflow: hidden;
   border-right: 3px solid #fff;
   width: 0;
   color: #8eeaff;
   text-shadow: 0 0 10px #8eeaff;
   animation:
   typing 4.1s steps(29, end) forwards 4.9s,
   blink 0.7s step-end 10,
   hide-cursor 0.1s forwards 8s;
}

@keyframes typing {
  from { width: 0; opacity: 1; }
  to   { width: 29ch; opacity: 1; }
}

@keyframes blink {
  0%   { border-color: white; }
  50%  { border-color: transparent; }
  100% { border-color: transparent; }
}

@keyframes hide-cursor {
  to { border-color: transparent; }
}

a{
  opacity: 0;
  display: inline-block;
  padding: 12px 30px;
  font-family: 'Orbitron', sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  color: #000;
  background-color: #ffd700;
  border: none;
  border-radius: 8px;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 0 0 20px #ffd700;
  margin-top: 30px;

  animation: fademove 1.5s forwards 8s;
  transition: transform 0.3s ease, box-shadow 0.7s ease;
}

@keyframes fademove {
  from {
    opacity: 0;
    transform: translateY(-40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

a:hover {
  box-shadow: 0 0 25px 10px #ffd700;
  cursor: url('icons8-select-cursor-24.png'), auto;
}

#audio-control {
    position: absolute;
    bottom: 30px;
    left: 30px;
    z-index: 20;
    background: rgba(143, 138, 138, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: white;
    padding: 10px 17px;
    border-radius: 100px;
    cursor: pointer;
    font-family: sans-serif;
    font-size: 25px;
    display: flex;
    align-items: center;
    gap: 8px;
    backdrop-filter: blur(5px);
    transition: all 0.3s ease;
    width: 70px;
    height: 70px;
}

#audio-control:hover {
    background: rgba(255, 255, 255, 0.2);
    border-color: white;
    transform: scale(1.1);
    cursor: url('icons8-select-cursor-24.png'), auto;
}