* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Press Start 2P', sans-serif;
  font-weight: normal !important;
}

body {
  background: url("download.gif") no-repeat center center fixed;
  background-size: cover;
  color: #ffffff;
  text-align: center;
  direction: rtl;
}

.button
{
  position: absolute;
  top: 30px;
  left: 30px;
  width: 150px;
  height: 50px;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  text-shadow: 2px 2px 0px #3F3F3F;
  background-color: rgb(146, 146, 146);
  color: rgb(255, 249, 249);
  border: 3px solid rgb(0, 0, 0);
  border-top: 4px solid #3F3F3F;
  border-left: 4px solid #3F3F3F;
  border-right: 4px solid #C4C4C4;
  border-bottom: 4px solid #C4C4C4;
}


.button:hover
{
  background: linear-gradient(
    to bottom,
    #AFAFAF 0%,
    #7B7B7B 50%,
  );
}


.button:active
{
  border-top: 4px solid #C4C4C4;
  border-left: 4px solid #C4C4C4;
  border-right: 4px solid #3F3F3F;
  border-bottom: 4px solid #3F3F3F;
  transform: translateY(-6px);
}


.title {
  margin-top: 50px;
  font-size: 60px;
  color: #ff7627;
  text-shadow: 0 0 20px #f0e0b3;
}


.planet-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  margin-top: 80px;
}


.planet {
  width: 350px;
  height: auto;
}


.right-card {
  width: 400px;
  height: 700px;
  padding: 20px;
  border: 6px solid  #ff7627;
  border-radius: 20px;
  line-height: 1.6;
  text-align: left;
}

.left-card{
  width: 400px;
  height: 700px;
  padding: 20px;
  border: 6px solid  #ff7627;
  border-radius: 20px;
  line-height: 1.6;
  text-align: left;
}


.section-title {
  margin-top: 120px;
  font-size: 50px;
  color:  #ffdeca;
  text-shadow: 0 0 10px  #ded8c3;
}


.missions-container {
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin: 50px auto;
  text-align: left;
}

.mission-box {
  width: 45%;
}

.mission-title {
  font-size: 30px;
  color:  #ff7627;
  margin-bottom: 15px;
}


.text3 {
  width: 80%;
  margin: 50px auto;
  text-align: left;
  font-size: 17px;
  line-height: 2.2;
}


.images-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin: 50px auto 100px auto;
}

.images-container img {
  width: 300px;
  height: 300px;
  border-radius: 50px;
  border: 6px solid  #ff7627;
  object-fit: cover;
}
