@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    background-color: rgb(0, 0, 0);
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh; 
    overflow: hidden;
}

.star {
    position: absolute;
    background: white;
    width: 4px;
    height: 4px;
    opacity: 0;
    image-rendering: pixelated;
    transition: opacity 1s;
    z-index: 0;
}

@keyframes twinkle {
  0%, 100% { opacity: 0.2; }
  50% { opacity: 1; }
}

img {
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 1;
}

.text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 10;
    width: 100%;    
    opacity: 0;
    animation: show1 2s forwards 4.5s;
}

.text-container h1 {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    color: white;
    font-size: 2.8rem;
    margin: 0;
    line-height: 1.2;
    text-shadow: 6px 6px 0 #282828;
}

.text-container h1 span {
    font-size: 2rem;
    color: #aaa;
    display: block;
    margin-top: 15px;
    text-shadow: 3px 3px 0 #363636;
}

/* --- BUTTON STYLES --- */
a {
  opacity: 0;
  display: inline-block;
  padding: 15px 25px;
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  color: #000;
  background-color: #ffd700;
  border: none;
  border-radius: 8px;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 0 0 20px #ffd700;
  margin-top: 40px; 
  position: relative;
  z-index: 20;

  animation: fademove 1.5s forwards 9s;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

a:hover {
  box-shadow: 0 0 35px 10px #ffd700;
}

@keyframes fademove {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.rocket-landed {
    position: absolute;
    width: 50px;
    top: 0px; 
    left: 28%;
    transform: rotate(45deg); 
    z-index: 11;
    opacity: 0;
    animation: show1 1s forwards 5s, float 3s ease-in-out infinite;
}

.rocket-rising {
    width: 50px;
    left: 50%;
    top: 110%; 
    transform: translateX(-50%);
    opacity: 0;
    z-index: 2; 
    animation: riseAndVanish 3.8s ease-out forwards 1s, shake 0.2s infinite 1s;
}

@keyframes riseAndVanish {
    0% { top: 110%; opacity: 0; }
    10% { opacity: 1; }
    90% { top: 38%; opacity: 1; } 
    100% { top: 38%; opacity: 0; } 
}

@keyframes shake {
    0%   { transform: translateX(-50%) rotate(0deg); }
    25%  { transform: translateX(-50.5%) rotate(-0.5deg); } 
    75%  { transform: translateX(-49.5%) rotate(0.5deg); } 
    100% { transform: translateX(-50%) rotate(0deg); }
}

@keyframes show1 {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes float {
    0% { margin-top: 0px; }
    50% { margin-top: 10px; } 
    100% { margin-top: 0px; } 
}

/* --- PLANETS --- */
.one {
    width: 200px;
    top: 50px;
    left: 40px;
    opacity: 0;
    animation: show1 2s forwards 6s;
}

.two {
    width: 200px;
    top: 45%;
    left: 300px;
    transform: translateY(-50%);
    opacity: 0;
    animation: show1 2s forwards 8s, float 3s ease-in-out infinite;
}

.three {
    width: 250px;
    bottom: 50px;
    left: 40px;
    opacity: 0;
    animation: show1 2s forwards 7s;
}

.four {
    width: 200px;
    top: 50px;
    right: 40px;
    transform: scaleX(-1);
    opacity: 0;
    animation: show1 2s forwards 7.5s;
}

.five {
    width: 300px;
    top: 38%;
    right: 300px;
    transform: translateY(-50%) scaleX(-1);
    transform: rotate(45deg);
    opacity: 0;
    animation: show1 2s forwards 8.5s, float 3s ease-in-out infinite;
}

.six {
    width: 250px;
    bottom: 30px;
    right: 40px;
    transform: scaleX(-1);
    opacity: 0;
    animation: show1 2s forwards 6.5s;
}

#audio-control {
    position: absolute;
    bottom: 30px;
    left: 30px;
    z-index: 20;
    background: rgba(143, 138, 138, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: white;
    padding: 10px 17px;
    border-radius: 100px;
    cursor: pointer;
    font-family: sans-serif;
    font-size: 25px;
    display: flex;
    align-items: center;
    gap: 8px;
    backdrop-filter: blur(5px);
    transition: all 0.3s ease;
    width: 70px;
    height: 70px;
}

#audio-control:hover {
    background: rgba(255, 255, 255, 0.2);
    border-color: white;
    transform: scale(1.1);
    cursor: url('icons8-select-cursor-24.png'), auto;
}